
#main {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 4;
}

#main hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#main h1 {
    font-size: x-large;
    margin-bottom: 10px;
}

#main-header{
    display: flex;
    direction: column;
    color: white;
    align-items: center;
}

#main-header span {
    color: #d6dae1;
    margin-right: 10px;
}

#main-header .badge {
  background-color: white;
  color: #2b414e;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}


.balance-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.balance-container-header {
    display: flex;
    flex-direction: row;
    color: #f2f8fd;
    background-color: #1c435e50;
    border: 1px solid #1c425f;
    border-radius: 5px;
    width: 140vh;
    height: 15vh;
}

.balance-container-header-wallet {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 3%;
}

.balance-container-header-amount {
    margin-left: 3%;
    margin-top: 1%;

}

.balance-container-header h2{
    font-size: large;
}

.balance-container-header h1{
    font-size: 2.3rem;
}


.balance-container hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.balance-container-form {
    padding: 20px;
    width: 65%;
    outline: 1px solid rgba(128, 128, 128, 0.336);
    background-color: rgb(19, 35, 57);
}

.balance-container-form label {
    color: #cccccc;
    font-weight: bold;
    font-size: large;
}

.balance-container-form input[type=number] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 2px;
    border: 2px solid #cccccc1e;
    box-sizing: border-box;
    background-color: rgba(41, 65, 82, 0.178);
    color: white;
}

.balance-container-form input[type=number]:hover {
    border: 2px solid #cccccc34;

}

.balance-container-form input[type=password] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 2px;
    border: 2px solid #cccccc1e;
    box-sizing: border-box;
    background-color: rgba(41, 65, 82, 0.178);
    color: white;
}

.balance-container-form input[type=password]:hover {
    border: 2px solid #cccccc34;

}

.balance-container-form button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}