

#mainText{
    font-family: Switzer-Variable;

}

#gamesTitle{
    font-family: Khand;
}



@font-face {
    font-family: 'Switzer-Variable';
    src:
            url('src/assets/fonts/Switzer-Variable.ttf') format('woff2'),
            url('src/assets/fonts/Switzer-Variable.woff') format('woff'),
            url('src/assets/fonts/Switzer-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;

    font-family: 'Khand';
    src: url('src/assets/fonts/Khand-Medium.woff2') format('woff2'),
    url('src/assets/fonts/Khand-Medium.woff') format('woff'),
    url('src/assets/fonts/Khand-Medium.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}



#mains{
    background-image: linear-gradient(to bottom, #0d1e2b, #0e1f2f, #0f2132, #112236, #132339, #132339, #132339, #132339, #112236, #0f2132, #0e1f2f, #0d1e2b);

}

#side{
    background-image: linear-gradient(to top, #0d1e2b, #0e2030, #102234, #122439, #15263d, #15263d, #15263d, #15263d, #122439, #102234, #0e2030, #0d1e2b);
}

#nav{
    background-image: linear-gradient(to right, #0d1e2b, #0e2030, #102234, #122439, #15263d, #15263d, #15263d, #15263d, #122439, #102234, #0e2030, #0d1e2b);
}



#next {
    transition: all .6s;
    padding: 10px;
    border-radius: 5px;
}

#next:hover {
    background-color: lightgray;
    transition: all .6s;
}

#prev:hover {
    background-color: lightgray;
    transition: all .6s;
}

#prev {
    transition: all .6s;
    padding: 10px;
    border-radius: 5px;
}

#btnProf {
    padding: 10px 15px;
    font-weight: 700;
    background: linear-gradient(to top, #0d1e2b, #0e2030, #102234, #122439, #15263d, #15263d, #15263d, #15263d, #122439, #102234, #0e2030, #0d1e2b);
    color: white;
    border-radius: .5rem;
    border-bottom: 2px solid darkslateblue;
    border-right: 2px solid darkslateblue;
    border-top: 2px solid #584ddf;
    border-left: 2px solid #584ddf;
    transition-duration: 1s;
    transition-property: border-top,
    border-left,
    border-bottom,
    border-right,
    box-shadow;
}

#btnProf:hover {
    border-top: 2px solid darkslateblue;
    border-left: 2px solid darkslateblue;
    border-bottom: 2px solid #584ddf;
    border-right: 2px solid #584ddf;
    box-shadow: rgb(29, 61, 95) 5px 5px, rgb(23, 50, 77) 10px 10px, rgb(12, 27, 39) 15px 15px;
}


#prof {
    width: 130px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background-image: linear-gradient(to right top, #1b2f3e, #182c3d, #16293b, #14263a, #132338, #13243a, #14263b, #14273d, #152d43, #173349, #183a4f, #1a4055);
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: all .4s;
}



#prof:hover {
    border-radius: 10px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #bcdbe5,
    0 15px 0 -4px #39a2db,
    0 16px 10px -3px #39a2db;
}

#prof:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #bcdbe5,
    0 8px 0 -4px #39a2db,
    0 12px 10px -3px #39a2db ;
}

#cardHov1 {
    cursor: pointer;
    border-radius: 5px;
    transition: all .6s;
}

#cardHov1:hover {
    transform: translateY(20px);
    box-shadow: 0 -8px 0 -2px #dceef1,
    0 -15px 0 -4px #bcdbe5,
    0 -16px 10px -3px #39a2db;
}

#cardHov1:active{
    transition: all 0.2s;
    transform: translateY(10px);
    box-shadow: 0 -7px 0 -10px #dceef1,
    0 -15px 0 -4px #bcdbe5,
    0 -16px 10px -3px #39a2db;
}

#cardHov2 {
    cursor: pointer;
    border-radius: 5px;
    transition: all .6s;
}

#cardHov2:hover {
    transform: translateY(20px);
    box-shadow: 0 -8px 0 -2px #8de88d,
    0 -15px 0 -4px #defade,
    0 -16px 10px -3px lime;
}

#cardHov2:active{
    transition: all 0.2s;
    transform: translateY(10px);
    box-shadow: 0 -7px 0 -2px #8de88d,
    0 -15px 0 -4px #c0f3bf,
    0 -16px 10px -3px lime;
}

#cardHov3 {
    cursor: pointer;
    border-radius: 5px;
    transition: all .6s;
}

#cardHov3:hover {
    transform: translateY(20px);
    box-shadow: 0 -7px 0 -2px #8de88d,
    0 -15px 0 -4px #defade,
    0 -16px 10px -3px lime;
}

#cardHov3:active{
    transition: all 0.2s;
    transform: translateY(10px);
    box-shadow: 0 -7px 0 -2px #8de88d,
    0 -15px 0 -4px #c0f3bf,
    0 -16px 10px -3px lime;
}

#cardHov4 {
    cursor: pointer;
    border-radius: 5px;
    transition: all .6s;
}

#cardHov4:hover {
    transform: translateY(20px);
    box-shadow: 0 -7px 0 -2px #ffc71b,
    0 -15px 0 -4px #ffeb85,
    0 -16px 10px -3px orange;
}

#cardHov4:active{
    transition: all 0.2s;
    transform: translateY(10px);
    box-shadow: 0 -7px 0 -2px #ffc71b,
    0 -15px 0 -4px #ffeb85,
    0 -16px 10px -3px orange;
}

#cardHov5 {
    cursor: pointer;
    border-radius: 5px;
    transition: all .6s;
}

#cardHov5:hover {
    transform: translateY(20px);
    box-shadow: 0 -8px 0 -2px #dceef1,
    0 -15px 0 -4px #bcdbe5,
    0 -16px 10px -3px #39a2db;
}

#cardHov5:active{
    transition: all 0.2s;
    transform: translateY(10px);
    box-shadow: 0 -7px 0 -10px #dceef1,
    0 -15px 0 -4px #bcdbe5,
    0 -16px 10px -3px #39a2db;
}


#cardHov6 {
    cursor: pointer;
    border-radius: 5px;
    transition: all .6s;
}

#cardHov6:hover {
    transform: translateY(20px);
    box-shadow: 0 -7px 0 -2px lightcoral,
    0 -15px 0 -4px #ffc04c,
    0 -16px 10px -3px red;
}

#cardHov6:active{
    transition: all 0.2s;
    transform: translateY(10px);
    box-shadow: 0 -7px 0 -2px #ffc71b,
    0 -15px 0 -4px #ffeb85,
    0 -16px 10px -3px orange;
}



#cardHov7 {
    cursor: pointer;
    border-radius: 5px;
    transition: all .6s;
}

#cardHov7:hover {
    transform: translateY(20px);
    box-shadow: 0 -7px 0 -2px lightyellow,
    0 -15px 0 -4px #ffeb85,
    0 -16px 10px -3px yellow;
}

#cardHov7:active{
    transition: all 0.2s;
    transform: translateY(10px);
    box-shadow: 0 -7px 0 -2px #ffc71b,
    0 -15px 0 -4px #ffeb85,
    0 -16px 10px -3px orange;
}



#reg {
    width: 110px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background-image: linear-gradient(to right top, #1b2f3e, #193247, #173550, #183859, #1a3b62, #183b62, #173b62, #153b62, #0f3858, #0e354e, #103145, #132d3b);
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: all .4s;
}

#reg:hover {
    border-radius: 10px;
    transform: translateY(10px);
    box-shadow: 0 -7px 0 -2px #dceef1,
    0 -15px 0 -4px #bcdbe5,
    0 -16px 10px -3px #39a2db;
}

#reg:active {
    transition: all 0.2s;
    transform: translateY(5px);
    box-shadow: 0 -2px 0 -2px #dceef1,
    0 -8px 0 -4px #bcdbe5,
    0 -12px 10px -3px #39a2db ;
}



::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}
::-webkit-scrollbar-thumb {


    background: lightgray;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 128, 128);
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}


/*
Animacion de la informacion:
 */

.share {
    display: flex;
    flex-direction: row;
    gap: 1em;
    transition: .4s ease-in-out;
    margin-top: 60px;
}

.btn1 {
    position: relative;
    width: 3em;
    height: 3em;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: white;
    transition: .4s all;
}

.btn1 .instagram {
    margin-top: 0.1em;
    fill: #cc39a4;
}

.btn1 .tooltiptext1 {
    visibility: hidden;
    width: 6em;
    height: 8em;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    border-radius: 10px;
    padding: 1em;
    position: absolute;
    left: -1.5em;
    top: -8em;
    z-index: 1;
    transition: .1s ease-in-out;
}

.btn1 .tooltiptext1 .card {
    width: 4em;
    height: 4em;
    background-color: white;
}

.btn1 .tooltiptext1 .account {
    margin-top: 1em;
}

.btn1 .tooltiptext1 .username {
    font-size: 0.7em;
    margin-top: 1.6em;

    font-weight: bold;
}

.btn1:hover .tooltiptext1 {
    transform: translateY(-1em);
    visibility: visible;
}

.btn1:hover {
    background-color: #cc39a4;
}

.btn1:hover .instagram {
    fill: white;
}

.btn2 {
    position: relative;
    width: 3em;
    height: 3em;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: white;
    transition: .4s all;
}

.btn2 .twitter {
    margin-top: .25em;
    margin-left: .1em;
    fill: #03A9F4;
}

.btn2 .tooltiptext2 {
    visibility: hidden;
    width: 6em;
    height: 8em;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    border-radius: 10px;
    padding: 1em;
    position: absolute;
    left: -1.5em;
    top: -8em;
    z-index: 1;
    transition: .1s ease-in-out;
}

.btn2 .tooltiptext2 .card {
    width: 4em;
    height: 4em;
    background-color: white;
}

.btn2 .tooltiptext2 .account {
    margin-top: 1em;
}

.btn2 .tooltiptext2 .username {
    font-size: 0.6em;
    margin-top: 1.6em;
    font-weight: bold;
}

.btn2:hover .tooltiptext2 {
    transform: translateY(-1em);
    visibility: visible;
}

.btn2:hover {
    background-color: #03A9F4;
}

.btn2:hover .twitter {
    fill: white;
}

.btn3 {
    position: relative;
    width: 3em;
    height: 3em;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: white;
    transition: .4s all;
}

.btn3 .tooltiptext3 {
    visibility: hidden;
    width: 6em;
    height: 8em;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    border-radius: 10px;
    padding: 1em;
    position: absolute;
    left: -1.5em;
    top: -8em;
    z-index: 1;
    transition: .1s ease-in-out;
}

.btn3 .tooltiptext3 .card {
    width: 4em;
    height: 4em;
    background-color: white;
}

.btn3 .tooltiptext3 .account {
    margin-top: 1em;
}

.btn3 .tooltiptext3 .username {
    font-size: 0.7em;


    font-weight: bold;
}

.btn3:hover .tooltiptext3 {
    transform: translateY(-1em);
    visibility: visible;
}

.btn3:hover {
    background-color: black;
}

.btn3:hover .git {
    fill: white;
}