

#mainText{
    font-family: Switzer-Variable;

}

#gamesTitle{
    font-family: Khand;
}



@font-face {
    font-family: 'Switzer-Variable';
    src:
            url('src/assets/fonts/Switzer-Variable.ttf') format('woff2'),
            url('src/assets/fonts/Switzer-Variable.woff') format('woff'),
            url('src/assets/fonts/Switzer-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;

    font-family: 'Khand';
    src: url('src/assets/fonts/Khand-Medium.woff2') format('woff2'),
    url('src/assets/fonts/Khand-Medium.woff') format('woff'),
    url('src/assets/fonts/Khand-Medium.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}



#mains{
    background-image: linear-gradient(to bottom, #0d1e2b, #0e1f2f, #0f2132, #112236, #132339, #132339, #132339, #132339, #112236, #0f2132, #0e1f2f, #0d1e2b);
}

#side{
    background-image: linear-gradient(to top, #0d1e2b, #0e2030, #102234, #122439, #15263d, #15263d, #15263d, #15263d, #122439, #102234, #0e2030, #0d1e2b);
}

#nav{
    background-image: linear-gradient(to right, #0d1e2b, #0e2030, #102234, #122439, #15263d, #15263d, #15263d, #15263d, #122439, #102234, #0e2030, #0d1e2b);
}



#next {
    transition: all .6s;
    padding: 10px;
    border-radius: 5px;
}

#next:hover {
    background-color: lightgray;
    transition: all .6s;
}

#prev:hover {
    background-color: lightgray;
    transition: all .6s;
}

#prev {
    transition: all .6s;
    padding: 10px;
    border-radius: 5px;
}

#btnProf {
    padding: 5px 10px;
    font-weight: 700;
    background: linear-gradient(to top, #0d1e2b, #0e2030, #102234, #122439, #15263d, #15263d, #15263d, #15263d, #122439, #102234, #0e2030, #0d1e2b);
    color: white;
    border-radius: .5rem;
    border-bottom: 2px solid darkslateblue;
    border-right: 2px solid darkslateblue;
    border-top: 2px solid #584ddf;
    border-left: 2px solid #584ddf;
    transition-duration: 1s;
    transition-property: border-top,
    border-left,
    border-bottom,
    border-right,
    box-shadow;
}

#btnProf:hover {
    border-top: 2px solid darkslateblue;
    border-left: 2px solid darkslateblue;
    border-bottom: 2px solid #584ddf;
    border-right: 2px solid #584ddf;
    box-shadow: rgb(29, 61, 95) 5px 5px, rgb(23, 50, 77) 10px 10px, rgb(12, 27, 39) 15px 15px;
}


#prof {
    width: 130px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background-image: linear-gradient(to right top, #1b2f3e, #182c3d, #16293b, #14263a, #132338, #13243a, #14263b, #14273d, #152d43, #173349, #183a4f, #1a4055);
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: all .4s;
}



#prof:hover {
    border-radius: 10px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #bcdbe5,
    0 15px 0 -4px #39a2db,
    0 16px 10px -3px #39a2db;
}

#prof:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #bcdbe5,
    0 8px 0 -4px #39a2db,
    0 12px 10px -3px #39a2db ;
}

#cardHov1 {
    cursor: pointer;
    border-radius: 5px;
    transition: all .6s;
}

#cardHov1:hover {
    transform: translateY(20px);
    box-shadow: 0 -8px 0 -2px #dceef1,
    0 -15px 0 -4px #bcdbe5,
    0 -16px 10px -3px #39a2db;
}

#cardHov1:active{
    transition: all 0.2s;
    transform: translateY(10px);
    box-shadow: 0 -7px 0 -10px #dceef1,
    0 -15px 0 -4px #bcdbe5,
    0 -16px 10px -3px #39a2db;
}

#cardHov2 {
    cursor: pointer;
    border-radius: 5px;
    transition: all .6s;
}

#cardHov2:hover {
    transform: translateY(20px);
    box-shadow: 0 -8px 0 -2px #8de88d,
    0 -15px 0 -4px #defade,
    0 -16px 10px -3px lime;
}

#cardHov2:active{
    transition: all 0.2s;
    transform: translateY(10px);
    box-shadow: 0 -7px 0 -2px #8de88d,
    0 -15px 0 -4px #c0f3bf,
    0 -16px 10px -3px lime;
}

#cardHov3 {
    cursor: pointer;
    border-radius: 5px;
    transition: all .6s;
}

#cardHov3:hover {
    transform: translateY(20px);
    box-shadow: 0 -7px 0 -2px #8de88d,
    0 -15px 0 -4px #defade,
    0 -16px 10px -3px lime;
}

#cardHov3:active{
    transition: all 0.2s;
    transform: translateY(10px);
    box-shadow: 0 -7px 0 -2px #8de88d,
    0 -15px 0 -4px #c0f3bf,
    0 -16px 10px -3px lime;
}

#cardHov4 {
    cursor: pointer;
    border-radius: 5px;
    transition: all .6s;
}

#cardHov4:hover {
    transform: translateY(20px);
    box-shadow: 0 -7px 0 -2px #ffc71b,
    0 -15px 0 -4px #ffeb85,
    0 -16px 10px -3px orange;
}

#cardHov4:active{
    transition: all 0.2s;
    transform: translateY(10px);
    box-shadow: 0 -7px 0 -2px #ffc71b,
    0 -15px 0 -4px #ffeb85,
    0 -16px 10px -3px orange;
}

#cardHov5 {
    cursor: pointer;
    border-radius: 5px;
    transition: all .6s;
}

#cardHov5:hover {
    transform: translateY(20px);
    box-shadow: 0 -8px 0 -2px #dceef1,
    0 -15px 0 -4px #bcdbe5,
    0 -16px 10px -3px #39a2db;
}

#cardHov5:active{
    transition: all 0.2s;
    transform: translateY(10px);
    box-shadow: 0 -7px 0 -10px #dceef1,
    0 -15px 0 -4px #bcdbe5,
    0 -16px 10px -3px #39a2db;
}


#cardHov6 {
    cursor: pointer;
    border-radius: 5px;
    transition: all .6s;
}

#cardHov6:hover {
    transform: translateY(20px);
    box-shadow: 0 -7px 0 -2px lightcoral,
    0 -15px 0 -4px #ffc04c,
    0 -16px 10px -3px red;
}

#cardHov6:active{
    transition: all 0.2s;
    transform: translateY(10px);
    box-shadow: 0 -7px 0 -2px #ffc71b,
    0 -15px 0 -4px #ffeb85,
    0 -16px 10px -3px orange;
}



#cardHov7 {
    cursor: pointer;
    border-radius: 5px;
    transition: all .6s;
}

#cardHov7:hover {
    transform: translateY(20px);
    box-shadow: 0 -7px 0 -2px lightyellow,
    0 -15px 0 -4px #ffeb85,
    0 -16px 10px -3px yellow;
}

#cardHov7:active{
    transition: all 0.2s;
    transform: translateY(10px);
    box-shadow: 0 -7px 0 -2px #ffc71b,
    0 -15px 0 -4px #ffeb85,
    0 -16px 10px -3px orange;
}



#reg {
    width: 110px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background-image: linear-gradient(to right top, #1b2f3e, #193247, #173550, #183859, #1a3b62, #183b62, #173b62, #153b62, #0f3858, #0e354e, #103145, #132d3b);
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: all .4s;
}

#reg:hover {
    border-radius: 10px;
    transform: translateY(10px);
    box-shadow: 0 -7px 0 -2px #dceef1,
    0 -15px 0 -4px #bcdbe5,
    0 -16px 10px -3px #39a2db;
}

#reg:active {
    transition: all 0.2s;
    transform: translateY(5px);
    box-shadow: 0 -2px 0 -2px #dceef1,
    0 -8px 0 -4px #bcdbe5,
    0 -12px 10px -3px #39a2db ;
}



::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 128, 128);
}
::-webkit-scrollbar-track {
    border-radius: 10px;

}


.prof {
    width: 130px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background-image: linear-gradient(to right top, #1b2f3e, #182c3d, #16293b, #14263a, #132338, #13243a, #14263b, #14273d, #152d43, #173349, #183a4f, #1a4055);
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: all .4s;
}


.prof:hover {
    border-radius: 10px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #bcdbe5,
    0 15px 0 -4px #39a2db,
    0 16px 10px -3px #39a2db;
}

.prof:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #bcdbe5,
    0 8px 0 -4px #39a2db,
    0 12px 10px -3px #39a2db ;
}


/* CODIGO MODALES */
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }

#contenedorModalRegistrarse{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
}