#contenedorGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#divGanador{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    width: 20%;
    height: 100%;
}

#divRuleta{
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;

}

.credencialesTexto{
    color: white;
}

.credencialesInput{
    border-radius: 10px;
    width: 200px;
    height: 30px;
}

.loginBtn{
    margin-top: 10px;
    height: 50px;
    width: 250px;
    border-radius: 20px;
    background-color: #00BCB4;
}

.loginBtn:hover{
    background-color: #00A69F;
}

.inputTags{
    color: white;;
}

.inputCantidadAApostar{
    color: white;
    margin-top: 20px;
}

.inputTags{
    font-size: 130%;
    font-weight: bold;
}

.cantidadesInput{
    margin-bottom: 20%;
    text-align: center;
}

.divsCheckboxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lbl-switch{
    display: inline;
    width: 55px;
    height: 30px;
    background-color: #aaa;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    border-style: solid;
}
.btn-switch:checked~ .lbl-switch{
    background: #61a0ff;
}
.lbl-switch:after{
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 100px;
    top: 4px;
    left: 5px;
    transition: 0.3s;
}

.btn-switch:checked~ .lbl-switch::after{
    left: 28px;
}

.btn-switch{
    display: none;
}