<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/src/styles/activity.css">
    <script src="https://kit.fontawesome.com/fffb4aa0e0.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="profile-container">
        <div id="left-sidebar">
            <h2>Menu</h2>
        </div>
        <div id="main">
            <h1>Cuenta</h1>
            <div id="main-header">
                <span><a>Detalles</a></span>
                <span><a>Balance</a></span>
                <span class="badge"><a>Historial</a></span>
            </div>
            <hr>
            <div class="activity-container">
                <div class="activity-container-header">
                    <div>Juego<a type="button"><i class="fa-solid fa-sort-down"></i></a></div>
                    <div>Fecha</div>
                    <div>Cantidad</div>
                    <div>Detalles</div>
                </div>
                <div class="activity-container-content">
                    <div class="activity-container-content-row">
                        <div class="activity-container-content-column">
                            <span class="game">Hi-Lo</span>
                        </div>
                        <div class="activity-container-content-column">
                            12-sep-2023
                        </div>
                        <div class="activity-container-content-column">
                            <span class="amount positive">10.12 USD</span>
                        </div>
                        <div class="activity-container-content-column">
                            <span class="details">Detalles</span>
                        </div>
                    </div>
                    <div class="activity-container-content-row">
                        <div class="activity-container-content-column">
                            <span class="game">Ruleta</span>
                        </div>
                        <div class="activity-container-content-column">
                            12-sep-2023
                        </div>
                        <div class="activity-container-content-column">
                            <span class="amount negative">-38.00 USD</span>
                        </div>
                        <div class="activity-container-content-column">
                            <span class="details">Detalles</span>
                        </div>
                    </div>
                    <div class="activity-container-content-row">
                        <div class="activity-container-content-column">
                            <span class="game">Ruleta</span>
                        </div>
                        <div class="activity-container-content-column">
                            13-sep-2023
                        </div>
                        <div class="activity-container-content-column">
                            <span class="amount negative">-45.00 USD</span>
                        </div>
                        <div class="activity-container-content-column">
                            <span class="details">Detalles</span>
                        </div>
                    </div>
                    <div class="activity-container-content-row">
                        <div class="activity-container-content-column">
                            <span class="game">Crash</span>
                        </div>
                        <div class="activity-container-content-column">
                            24-sep-2023
                        </div>
                        <div class="activity-container-content-column">
                            <span class="amount positive">503.12 USD</span>
                        </div>
                        <div class="activity-container-content-column">
                            <span class="details">Detalles</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</body>
</html>