<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/src/styles/profile.css">
    <script src="https://kit.fontawesome.com/fffb4aa0e0.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="profile-container">
        <div id="left-sidebar">
            <h2>Menu</h2>
        </div>
        <div id="main">
            <h1>Cuenta</h1>
            <div id="main-header">
                <span><a>Detalles</a></span>
                <span><a>Balance</a></span>
                <span class="badge"><a>Historial</a></span>
            </div>
            <hr>
        </div>
    </div>
</body>
</html>