<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/output.css">
    <link rel="icon" href="../assets/images/icon.png" type="image/png">
    <link rel="stylesheet" href="/src/styles/index.css">
    <link rel="stylesheet" href="/src/styles/roulette.css">


    <div class="modal fade" id="modalRegistrarseGeneral" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTitleId">Registrarse</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="container">
                    <div class="row">
                      <div class="col-6">
                        <input type="text" class="form-control" placeholder="Nombre(s)" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                      <div class="col-6">
                        <input type="text" class="form-control" placeholder="Apellidos" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div style="margin-top: 5px;">
                      <input type="email" class="form-control" placeholder="Tu correo" aria-label="Username" aria-describedby="basic-addon1">                
                    </div>
                    <div style="margin-top: 5px;">
                      <input type="password" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1">                
                    </div>
                    <div style="margin-top: 5px;">
                      <input type="password" class="form-control" placeholder="Confirmar contraseña" aria-label="Username" aria-describedby="basic-addon1">                
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success">Registrarse</button>
            </div>
          </div>
        </div>
      </div>
    
    
    <!-- Optional: Place to the bottom of scripts -->
    <script>
        const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)
    
    </script>
</head>

<body style="background-image: linear-gradient(to bottom, #0d1e2b, #0e1f2f, #0f2132, #112236, #132339, #132339, #132339, #132339, #112236, #0f2132, #0e1f2f, #0d1e2b);">
  <header>
    <!-- place navbar here -->
  </header>
  <main>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;margin-top: 15%;">
        <div style="display: flex; align-items: center; justify-content: center;">
            <img src="../assets/images/icon.png" alt="">
        </div>
        <form action="index_logInPending.html" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <p class="credencialesTexto">Ingresa tu usuario</p>
            <input type="text" placeholder="Usuario" class="credencialesInput">
            <p class="credencialesTexto" style="margin-top: 10%;">Ingresa tu contraseña</p>
            <input type="password" placeholder="Contraseña" class="credencialesInput">
            <input type="submit" id="loginBtn" value="LOGIN">
        </form>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: start; width: 275px;">
            <button style="display: flex; align-items: center; justify-content: center;" class="prof">
                <a role="button" data-bs-toggle="modal" data-bs-target="#modalRegistrarseGeneral" id="btnRegistrarse">
                    Registrate
                </a>
            </button>
        </div>
    </div>
    <!-- <div id="contenedorGeneralLogin">
      <div>
        <img src="../assets/images/icon.png" alt="">
      </div>
      <div id="contenedorForm">
        <form action="">
          <p>Ingresa tu usuario</p>
          <input type="text">
          <p>Ingresa tu contraseña</p>
          <input type="password">
        </form>
      </div>
    </div> -->
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>