<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/src/styles/profile.css">
    <script src="https://kit.fontawesome.com/fffb4aa0e0.js" crossorigin="anonymous"></script>
    <script src="/src/scripts/profile.js"></script>
</head>
<body>
    <div id="profile-container">
        <div id="left-sidebar">
            <h2>Menu</h2>
        </div>
        <div id="main">
            <h1>Cuenta</h1>
            <div id="main-header">
                <span class="badge"><a>Detalles</a></span>
                <span><a>Balance</a></span>
                <span><a>Historial</a></span>
            </div>
            <hr>
            <div id="account-details">
                <div></div>
                <div id="account-details-left">
                    <h3><i class="fa-regular fa-file mr-8" style="margin-right: 10px"></i>Detalles de la cuenta</h3>
                    <div class="account-input">
                        <span class="detail" style="font-weight: bold;">Usuario</span>        
                        <input type="text" id="account-input-username" class="info" value="Ron">
                        <span class="edit"><a href="javascript:edit('username')">Editar
                            <i class="fa-regular fa-pen-to-square"></i></a></span>        
                    </div>
                    <hr>
                    <div class="account-input">
                        <span class="detail" style="font-weight: bold;">Correo</span>        
                        <span id="account-input-email" class="info">ron@email.com</span>        
                        <span class="edit"><a href="javascript:edit('email')">Editar <i class="fa-regular fa-pen-to-square"></i></a></span>        
                    </div>
                    <hr>
                    <div class="account-input">
                        <span class="detail" style="font-weight: bold;">Contraseña</span>        
                        <span id="account-input-password" class="info">*****</span>        
                        <span class="edit"><a href="javascript: edit('password')">Editar 
                            <i class="fa-regular fa-pen-to-square"></i></a></span>        
                    </div>
                    <hr>
                    <div class="account-input">
                        <span class="detail" style="font-weight: bold;">Edad</span>        
                        <span class="info">21 años</span>        
                    </div>
                </div>
                <div id="account-details-right">
                    <img src="https://pbs.twimg.com/media/DfvZrbJUcAAZMdU.jpg">
                    <span>Ron</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>