<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/src/styles/profile.css">
    <script src="https://kit.fontawesome.com/fffb4aa0e0.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="profile-container">
        <div id="left-sidebar">
            <h1>Hola</h1>
        </div>
        <div id="main">
            <h1>Account settings</h1>
            <div id="main-header">
                <span><a>Account details</a></span>
                <span><a>Balance</a></span>
                <span><a>Activity</a></span>
            </div>
            <hr>
            <div id="account-details">
                <div></div>
                <div id="account-details-left">
                    <h4><i class="fa-regular fa-file mr-8" style="margin-right: 10px"></i>Detalles de cuenta</h4>
                    <div class="account-input">
                        <span class="w-32" style="font-weight: bold;">Correo</span>        
                        <span class="info">Hola</span>        
                        <span class="edit">Editar <i class="fa-regular fa-pen-to-square"></i></span>        
                    </div>
                    <hr>
                    <div class="account-input">
                        <span class="w-32" style="font-weight: bold;">Contraseña</span>        
                        <span class="info">*****</span>        
                        <span class="edit">Editar <i class="fa-regular fa-pen-to-square"></i></span>        
                    </div>
                    <hr>
                    <div class="account-input">
                        <span class="w-32" style="font-weight: bold;">Edad</span>        
                        <span class="info">21 años</span>        
                    </div>
                    <hr>
                </div>
                <div id="account-details-right">
                    Hola
                </div>
            </div>
        </div>
    </div>
</body>
</html>