<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" href="/src/styles/profile.css">
    <script src="https://kit.fontawesome.com/fffb4aa0e0.js" crossorigin="anonymous"></script>
    <script src="/src/scripts/profile.js"></script>
    <link rel="stylesheet" href="/src/styles/output.css">
    <link rel="stylesheet" href="../styles/output.css">
</head>
<body>
    <div id="profile-container">
        <div id="left-sidebar">
            <h2>Menu</h2>
        </div>
        <div id="main">
            <h1>Cuenta</h1>
            <div id="main-header">
                <span class="badge"><a>Detalles</a></span>
                <span><a>Balance</a></span>
                <span><a>Historial</a></span>
            </div>
            <hr>
            <div id="account-details">
                <div></div>
                <div id="account-details-left">
                    <h3><i class="fa-regular fa-file mr-8" style="margin-right: 10px"></i>Detalles de la cuenta</h3>
                    <div class="account-input">
                        <span class="detail" style="font-weight: bold;">Usuario</span>        
                        <input type="text" id="account-input-username" data-prev="Ron" value="Ron" disabled>
                        <div class="account-input-right-div">
                            <span id="account-input-username-span" class="edit"><a href="javascript:edit('username')">Editar
                                <i class="fa-regular fa-pen-to-square"></i></a>
                            </span>        
                            <button type="button" onclick="confirm('username')" id="account-input-username-confirm" style="display: none">
                                <i class="fa-regular fa-square-check fa-xl" style="color: #ffffff;"></i>
                            </button>
                            <button type="button" onclick="cancel('username')" id="account-input-username-cancel" style="display: none">
                                <i class="fa-regular fa-rectangle-xmark fa-xl" style="color: #ffffff;"></i>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="account-input">
                        <span class="detail" style="font-weight: bold;">Correo</span>        
                        <input type="text" id="account-input-email" value="ron@email.com" disabled>
                        <div class="account-input-right-div">
                            <span id="account-input-email-span" class="edit"><a href="javascript:edit('email')">Editar <i class="fa-regular fa-pen-to-square"></i></a></span>        
                            <button type="button" onclick="confirm('email')" id="account-input-email-confirm" style="display: none">
                                <i class="fa-regular fa-square-check fa-xl" style="color: #ffffff;"></i>
                            </button>
                            <button type="button" onclick="cancel('email')" id="account-input-email-cancel" style="display: none">
                                <i class="fa-regular fa-rectangle-xmark fa-xl" style="color: #ffffff;"></i>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="account-input">
                        <span class="detail" style="font-weight: bold;">Contraseña</span>        
                        <input type="password" id="account-input-password" value="***" disabled>
                        <div class="account-input-right-div">
                            <span id="account-input-password-span" class="edit"><a href="javascript:edit('password')">Editar <i class="fa-regular fa-pen-to-square"></i></a></span>        
                            <button type="button" onclick="confirm('password')" id="account-input-password-confirm" style="display: none">
                                <i class="fa-regular fa-square-check fa-xl" style="color: #ffffff;"></i>
                            </button>
                            <button type="button" onclick="cancel('password')" id="account-input-password-cancel" style="display: none">
                                <i class="fa-regular fa-rectangle-xmark fa-xl" style="color: #ffffff;"></i>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="account-input">
                        <span class="detail" style="font-weight: bold;">Edad</span>        
                        <span class="info">21 años</span>        
                    </div>
                </div>
                <div id="account-details-right">
                    <img src="https://pbs.twimg.com/media/DfvZrbJUcAAZMdU.jpg">
                    <span>Ron</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>