<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Ruleta de Casino</title>
    <script src="https://cdn.jsdelivr.net/npm/spin-wheel@4.3.0/dist/spin-wheel-iife.js"></script>
    <script src="script.js" type="module"></script>
</head>
<body style="background-color: #002D2B;">

    <div style="border-style: solid; display: flex; flex-direction: row; align-items: center; justify-content: center; height: 790px;">
        <div style="border-style: solid; display: flex; align-items: center; justify-content: center; height: 100%; width: 20%;">
            <button id="btnSpin" style="height: 20%; width: 50%; border-radius: 30px;"> GIRA </button>
        </div>
        <div style="border-style: solid; height: 100%; width: 60%;">
            
            <div>
                <br><br><br><br><br>
                <div style="display: flex; align-items: center; justify-content: center; color: white;">
                    ↓
                </div>
                <div class="wheel-container" style="height: 70%;"></div>
            </div>
        </div>
        <div style="border-style: solid; height: 100%; width: 20%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <!-- Rojo: <input type="radio"> -->
            <div id="numeroGanador" style="color: white; font-size: large;">Numero ganador: </div>
            <div id="colorGanador" style="color: white;">Color ganador: </div>
        </div>
      </div>
      <p>hola</p>
</body>
</html>
